@*@using Umbraco.Core*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BasepageSmallBannerNavbarSecond.cshtml";
}

<!--container Section-->
<div class="container">
    <!--row Section-->
    <div class="row">
        <div class="main_blog text-center roomy-100">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="head_title text-center">
                    <h2>@Umbraco.GetDictionaryValue("Brommers te koop")</h2>
                    <div class="separator_auto"></div>
                    <p>@Umbraco.GetDictionaryValue("Brommers te koop intro tekst")</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                test
            </div>

            <div class="col-md-6 col-sm-12">
                test
            </div>
        </div>
    </div>

</div>
