@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using VintageWheels.Models
@{
    Layout = null;
}

<!--Contact Us Section-->
<section id="contact" class="contact bg-mega fix">
    <div class="container">
        <div class="row">
            <div class="main_contact roomy-100 text-white">
                <div class="col-md-4">
                    <div class="rage_widget">
                        <div class="widget_head">
                            <h3 class="text-white">VINTAGE WHEELS</h3>
                            <div class="separator_small"></div>
                        </div>
                        <p>@Umbraco.GetDictionaryValue("Contact uitleg")</p>

                        <div class="widget_socail m-top-30">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/vintagewheelsbelgium/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <!-- <li><a href=""><i class="fa fa-vimeo"></i></a></li> -->
                                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 sm-m-top-30">
                    @Html.Partial("ContactView", new ContactFormViewModel())
                </div>
            </div>
            <!--End off row -->
        </div>
        <!--End off container -->
</section>
<!--End off Contact Section-->