<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT brommersVerkocht ANY>
<!ATTLIST brommersVerkocht id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT info ANY>
<!ATTLIST info id ID #REQUIRED>
<!ELEMENT parts ANY>
<!ATTLIST parts id ID #REQUIRED>
<!ELEMENT basepage ANY>
<!ATTLIST basepage id ID #REQUIRED>
<!ELEMENT brommers ANY>
<!ATTLIST brommers id ID #REQUIRED>
<!ELEMENT brommer ANY>
<!ATTLIST brommer id ID #REQUIRED>
<!ELEMENT part ANY>
<!ATTLIST part id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT notfound ANY>
<!ATTLIST notfound id ID #REQUIRED>
]>
<root id="-1">
  <basepage id="1196" key="ed08ec9d-3554-49ba-9424-572fab4517e8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-08T22:53:26" updateDate="2018-02-26T00:42:46" nodeName="En" urlName="en" path="-1,1196" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINAL]]></homeBannerText>
    <home id="1179" key="d69838e3-e712-4b2a-b70c-7a803cad10fc" parentID="1196" level="2" creatorID="0" sortOrder="1" createDate="2018-01-03T22:03:24" updateDate="2018-02-25T22:36:37" nodeName="Home" urlName="home" path="-1,1196,1179" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <homeBannerText><![CDATA[Keep it original]]></homeBannerText>
      <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
      <info id="1188" key="883be47a-4582-4d4e-9e75-2108483a5582" parentID="1179" level="3" creatorID="0" sortOrder="2" createDate="2018-01-03T22:43:33" updateDate="2018-01-09T00:33:30" nodeName="Info" urlName="info" path="-1,1196,1179,1188" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true" />
      <slider id="1240" key="8e8058f2-32b5-4e69-880a-9798ac1a929e" parentID="1179" level="3" creatorID="0" sortOrder="3" createDate="2018-01-30T22:23:03" updateDate="2018-01-30T23:45:25" nodeName="Slider" urlName="slider" path="-1,1196,1179,1240" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <brommersVerkocht id="1181" key="f58d6709-3cd9-4de2-9311-42810d0a70db" parentID="1196" level="2" creatorID="0" sortOrder="3" createDate="2018-01-03T22:05:54" updateDate="2018-02-15T00:19:07" nodeName="BrommersVerkocht" urlName="brommersverkocht" path="-1,1196,1181" isDoc="" nodeType="1172" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1256" nodeTypeAlias="brommersVerkocht" isPublished="true" />
    <parts id="1182" key="78379e01-b8a6-4548-a2c2-fa37d21168fe" parentID="1196" level="2" creatorID="0" sortOrder="4" createDate="2018-01-03T22:08:26" updateDate="2018-02-15T00:41:27" nodeName="Parts" urlName="parts" path="-1,1196,1182" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true">
      <part id="1260" key="9d5205a9-f254-4aab-8dc2-66dea69e34c4" parentID="1182" level="3" creatorID="0" sortOrder="0" createDate="2018-02-15T00:21:19" updateDate="2018-02-15T00:22:06" nodeName="Onderdeel1" urlName="onderdeel1" path="-1,1196,1182,1260" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
        <partDescription><![CDATA[Carbonara angel hair fettuccine linguini, penne vermicelli lasagna ravioli capellini ziti. Rotelle tripoline tripoline spaghetti spaghetti, pasta pasta macaroni lasagna cheesy basil penne fettuccine penne. Rotelle tomatoes fiorentine spaghettini, sauce basil capellini cavatelli rotelle vermicelli spaghettini anelli. Al dente lasagna fiorentine, fettuccine cheesy anelli macaroni carbonara spaghetti ziti basil. Ziti cavatelli fiorentine sorprese ravioli tortellini linguini. Spaghetti macaroni ziti ziti ravioli sorprese basil. Basil linguini ziti ziti spaghetti basil angel hair pasta carbonara. Spaghetti al dente tripoline sorprese fiorentine al dente fettuccine fettuccine. Linguini rotelle lasagna penne cavatelli fiorentine spaghetti penne.]]></partDescription>
        <partName><![CDATA[Onderdeel1]]></partName>
      </part>
    </parts>
    <brommers id="1251" key="00825eba-0dcc-487f-ae7d-6be896c6e30a" parentID="1196" level="2" creatorID="0" sortOrder="5" createDate="2018-02-14T22:46:10" updateDate="2018-02-14T22:51:37" nodeName="BrommersWinkel" urlName="brommerswinkel" path="-1,1196,1251" isDoc="" nodeType="1203" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1250" nodeTypeAlias="brommers" isPublished="true">
      <brommer id="1252" key="18f81799-7d01-4046-88fc-aabb1f8cb9db" parentID="1251" level="3" creatorID="0" sortOrder="0" createDate="2018-02-14T22:47:23" updateDate="2018-02-22T18:34:02" nodeName="Brommer1" urlName="brommer1" path="-1,1196,1251,1252" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant1]]></fabrikant>
        <verkocht>0</verkocht>
        <model><![CDATA[Model1]]></model>
        <prijs><![CDATA[1001]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
      <brommer id="1254" key="3b60301b-856f-48b6-aa2e-838cc173ee7f" parentID="1251" level="3" creatorID="0" sortOrder="1" createDate="2018-02-14T22:51:07" updateDate="2018-02-16T03:05:11" nodeName="Brommer2" urlName="brommer2" path="-1,1196,1251,1254" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant2]]></fabrikant>
        <verkocht>1</verkocht>
        <model><![CDATA[Model]]></model>
        <prijs><![CDATA[2000.99]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
    </brommers>
  </basepage>
  <basepage id="1275" key="85a36c6c-d67b-48e4-9eeb-fbe993519228" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-21T20:35:48" updateDate="2018-02-26T01:16:14" nodeName="Fr" urlName="fr" path="-1,1275" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINAL]]></homeBannerText>
    <home id="1276" key="e320b58a-0f61-4cb9-86c4-6e31838ac787" parentID="1275" level="2" creatorID="0" sortOrder="0" createDate="2018-02-21T20:35:48" updateDate="2018-02-21T20:44:34" nodeName="Home" urlName="home" path="-1,1275,1276" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <info id="1279" key="5bd89330-e565-4e37-a063-9fb1c707a7eb" parentID="1276" level="3" creatorID="0" sortOrder="2" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:46:27" nodeName="Info" urlName="info" path="-1,1275,1276,1279" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true" />
      <slider id="1280" key="152938dc-452d-435f-b18e-bb50cac1b0c1" parentID="1276" level="3" creatorID="0" sortOrder="3" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:46:50" nodeName="Slider" urlName="slider" path="-1,1275,1276,1280" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <brommersVerkocht id="1283" key="0d83b828-fa2f-4fd2-bde7-043227bc0290" parentID="1275" level="2" creatorID="0" sortOrder="1" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:44:41" nodeName="BrommersVerkocht" urlName="brommersverkocht" path="-1,1275,1283" isDoc="" nodeType="1172" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1256" nodeTypeAlias="brommersVerkocht" isPublished="true" />
    <parts id="1284" key="df906eb9-6516-4729-850a-94f4c58cb4e6" parentID="1275" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:44:47" nodeName="Parts" urlName="parts" path="-1,1275,1284" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true">
      <part id="1285" key="ec67c2b8-b269-4129-80ec-2f2d0291cc0c" parentID="1284" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:47:57" nodeName="Onderdeel1" urlName="onderdeel1" path="-1,1275,1284,1285" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
        <partDescription><![CDATA[Carbonara angel hair fettuccine linguini, penne vermicelli lasagna ravioli capellini ziti. Rotelle tripoline tripoline spaghetti spaghetti, pasta pasta macaroni lasagna cheesy basil penne fettuccine penne. Rotelle tomatoes fiorentine spaghettini, sauce basil capellini cavatelli rotelle vermicelli spaghettini anelli. Al dente lasagna fiorentine, fettuccine cheesy anelli macaroni carbonara spaghetti ziti basil. Ziti cavatelli fiorentine sorprese ravioli tortellini linguini. Spaghetti macaroni ziti ziti ravioli sorprese basil. Basil linguini ziti ziti spaghetti basil angel hair pasta carbonara. Spaghetti al dente tripoline sorprese fiorentine al dente fettuccine fettuccine. Linguini rotelle lasagna penne cavatelli fiorentine spaghetti penne.]]></partDescription>
        <partName><![CDATA[Onderdeel1]]></partName>
      </part>
    </parts>
    <brommers id="1286" key="a5cabc04-ee3c-4974-ac49-66f7630f00e8" parentID="1275" level="2" creatorID="0" sortOrder="3" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:44:58" nodeName="BrommersWinkel" urlName="brommerswinkel" path="-1,1275,1286" isDoc="" nodeType="1203" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1250" nodeTypeAlias="brommers" isPublished="true">
      <brommer id="1287" key="15c62d21-16b7-483d-b7bb-38953842258d" parentID="1286" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:48:04" nodeName="Brommer1" urlName="brommer1" path="-1,1275,1286,1287" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant1]]></fabrikant>
        <verkocht>0</verkocht>
        <model><![CDATA[Model1]]></model>
        <prijs><![CDATA[1001]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
      <brommer id="1288" key="76e6cf7b-9141-443c-ae4b-4a175ebea22c" parentID="1286" level="3" creatorID="0" sortOrder="1" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:48:05" nodeName="Brommer2" urlName="brommer2" path="-1,1275,1286,1288" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant2]]></fabrikant>
        <verkocht>1</verkocht>
        <model><![CDATA[Model]]></model>
        <prijs><![CDATA[2000.99]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
    </brommers>
  </basepage>
  <basepage id="1289" key="e715469e-2980-4a6a-9f69-31dd5c52e9df" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:07" updateDate="2018-02-26T01:20:23" nodeName="Nl" urlName="nl" path="-1,1289" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINEEL]]></homeBannerText>
    <home id="1290" key="bfd62fde-a481-4323-8f85-a0ff6c137a36" parentID="1289" level="2" creatorID="0" sortOrder="0" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Home" urlName="home" path="-1,1289,1290" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <info id="1293" key="ae660801-473d-4904-923b-0256ed8bcc6b" parentID="1290" level="3" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Info" urlName="info" path="-1,1289,1290,1293" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true" />
      <slider id="1294" key="1a6c75d4-62a5-4467-972a-c4e3585c19a0" parentID="1290" level="3" creatorID="0" sortOrder="3" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Slider" urlName="slider" path="-1,1289,1290,1294" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <brommersVerkocht id="1297" key="9bd7dc7d-45c3-47b9-98d1-06e8d8b0bd3c" parentID="1289" level="2" creatorID="0" sortOrder="1" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="BrommersVerkocht" urlName="brommersverkocht" path="-1,1289,1297" isDoc="" nodeType="1172" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1256" nodeTypeAlias="brommersVerkocht" isPublished="true" />
    <parts id="1298" key="adddc98f-2d0d-4362-8bdc-16c2195e7e31" parentID="1289" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Parts" urlName="parts" path="-1,1289,1298" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true">
      <part id="1299" key="61519847-b709-4927-bdb6-037e9a4ca652" parentID="1298" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Onderdeel1" urlName="onderdeel1" path="-1,1289,1298,1299" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
        <partDescription><![CDATA[Carbonara angel hair fettuccine linguini, penne vermicelli lasagna ravioli capellini ziti. Rotelle tripoline tripoline spaghetti spaghetti, pasta pasta macaroni lasagna cheesy basil penne fettuccine penne. Rotelle tomatoes fiorentine spaghettini, sauce basil capellini cavatelli rotelle vermicelli spaghettini anelli. Al dente lasagna fiorentine, fettuccine cheesy anelli macaroni carbonara spaghetti ziti basil. Ziti cavatelli fiorentine sorprese ravioli tortellini linguini. Spaghetti macaroni ziti ziti ravioli sorprese basil. Basil linguini ziti ziti spaghetti basil angel hair pasta carbonara. Spaghetti al dente tripoline sorprese fiorentine al dente fettuccine fettuccine. Linguini rotelle lasagna penne cavatelli fiorentine spaghetti penne.]]></partDescription>
        <partName><![CDATA[Onderdeel1]]></partName>
      </part>
    </parts>
    <brommers id="1300" key="089d212e-bbb6-4434-9fbc-cc69fbbcbe8f" parentID="1289" level="2" creatorID="0" sortOrder="3" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="BrommersWinkel" urlName="brommerswinkel" path="-1,1289,1300" isDoc="" nodeType="1203" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1250" nodeTypeAlias="brommers" isPublished="true">
      <brommer id="1301" key="062ab735-716b-4fb7-92e4-2c9c82f6bd24" parentID="1300" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Brommer1" urlName="brommer1" path="-1,1289,1300,1301" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant1]]></fabrikant>
        <verkocht>0</verkocht>
        <model><![CDATA[Model1]]></model>
        <prijs><![CDATA[1001]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
      <brommer id="1302" key="0e30a211-e699-47d3-8b04-b154c92237c0" parentID="1300" level="3" creatorID="0" sortOrder="1" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Brommer2" urlName="brommer2" path="-1,1289,1300,1302" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1242" nodeTypeAlias="brommer" isPublished="true">
        <bouwjaar><![CDATA[1960]]></bouwjaar>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
        <fabrikant><![CDATA[Fabrikant2]]></fabrikant>
        <verkocht>1</verkocht>
        <model><![CDATA[Model]]></model>
        <prijs><![CDATA[2000.99]]></prijs>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <extraTekst><![CDATA[Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst
Extra Tekst]]></extraTekst>
      </brommer>
    </brommers>
  </basepage>
  <notfound id="1270" key="f89ff4e6-12d6-4f1b-b256-edb7ed7fb974" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-02-16T00:11:17" updateDate="2018-02-21T21:36:17" nodeName="notfound" urlName="notfound" path="-1,1270" isDoc="" nodeType="1269" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1267" nodeTypeAlias="notfound" isPublished="true" />
</root>