<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT info ANY>
<!ATTLIST info id ID #REQUIRED>
<!ELEMENT parts ANY>
<!ATTLIST parts id ID #REQUIRED>
<!ELEMENT basepage ANY>
<!ATTLIST basepage id ID #REQUIRED>
<!ELEMENT part ANY>
<!ATTLIST part id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT notfound ANY>
<!ATTLIST notfound id ID #REQUIRED>
<!ELEMENT store ANY>
<!ATTLIST store id ID #REQUIRED>
<!ELEMENT storeItem ANY>
<!ATTLIST storeItem id ID #REQUIRED>
<!ELEMENT storeForSale ANY>
<!ATTLIST storeForSale id ID #REQUIRED>
<!ELEMENT storeSold ANY>
<!ATTLIST storeSold id ID #REQUIRED>
]>
<root id="-1">
  <basepage id="1196" key="ed08ec9d-3554-49ba-9424-572fab4517e8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-08T22:53:26" updateDate="2018-02-26T00:42:46" nodeName="En" urlName="en" path="-1,1196" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINAL]]></homeBannerText>
    <home id="1179" key="d69838e3-e712-4b2a-b70c-7a803cad10fc" parentID="1196" level="2" creatorID="0" sortOrder="1" createDate="2018-01-03T22:03:24" updateDate="2018-03-08T00:18:08" nodeName="Home" urlName="home" path="-1,1196,1179" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <vintageAdres><![CDATA[Veerle-Laakdal]]></vintageAdres>
      <vintageEmail><![CDATA[info@vintage-wheels.be]]></vintageEmail>
      <vintageGSM><![CDATA[Gsm engels]]></vintageGSM>
      <info id="1188" key="883be47a-4582-4d4e-9e75-2108483a5582" parentID="1179" level="3" creatorID="0" sortOrder="2" createDate="2018-01-03T22:43:33" updateDate="2018-03-08T00:29:46" nodeName="Info" urlName="info" path="-1,1196,1179,1188" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true">
        <infoPart1Text><![CDATA[info1 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart1Text>
        <infoPart1Title><![CDATA[info1]]></infoPart1Title>
        <infoPart2Text><![CDATA[info2 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart2Text>
        <infoPart2Title><![CDATA[info2]]></infoPart2Title>
        <infoPart3Title><![CDATA[info3]]></infoPart3Title>
        <infoPart3Text><![CDATA[info3 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart3Text>
      </info>
      <slider id="1240" key="8e8058f2-32b5-4e69-880a-9798ac1a929e" parentID="1179" level="3" creatorID="0" sortOrder="3" createDate="2018-01-30T22:23:03" updateDate="2018-03-06T02:33:11" nodeName="Slider" urlName="slider" path="-1,1196,1179,1240" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <cropper><![CDATA[{
  "focalPoint": {
    "left": 0.50943396226415094,
    "top": 0.36655592469545956
  },
  "src": "/media/1023/bromfietstreffen.jpg",
  "crops": []
}]]></cropper>
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <parts id="1182" key="78379e01-b8a6-4548-a2c2-fa37d21168fe" parentID="1196" level="2" creatorID="0" sortOrder="4" createDate="2018-01-03T22:08:26" updateDate="2018-02-15T00:41:27" nodeName="Parts" urlName="parts" path="-1,1196,1182" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true">
      <part id="1260" key="9d5205a9-f254-4aab-8dc2-66dea69e34c4" parentID="1182" level="3" creatorID="0" sortOrder="0" createDate="2018-02-15T00:21:19" updateDate="2018-03-06T02:55:32" nodeName="Onderdeel1" urlName="onderdeel1" path="-1,1196,1182,1260" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
        <partPrice><![CDATA[50]]></partPrice>
        <partDescription><![CDATA[Carbonara angel hair fettuccine linguini, penne vermicelli lasagna ravioli capellini ziti. Rotelle tripoline tripoline spaghetti spaghetti, pasta pasta macaroni lasagna cheesy basil penne fettuccine penne. Rotelle tomatoes fiorentine spaghettini, sauce basil capellini cavatelli rotelle vermicelli spaghettini anelli. Al dente lasagna fiorentine, fettuccine cheesy anelli macaroni carbonara spaghetti ziti basil. Ziti cavatelli fiorentine sorprese ravioli tortellini linguini. Spaghetti macaroni ziti ziti ravioli sorprese basil. Basil linguini ziti ziti spaghetti basil angel hair pasta carbonara. Spaghetti al dente tripoline sorprese fiorentine al dente fettuccine fettuccine. Linguini rotelle lasagna penne cavatelli fiorentine spaghetti penne.]]></partDescription>
        <partName><![CDATA[Onderdeel1]]></partName>
        <morePartPictures><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0,umb://media/54a54e7351874953a35dc6da4234fdf0]]></morePartPictures>
      </part>
      <part id="1305" key="99fdb4b9-2d2b-4368-89b8-0ff0562d6f86" parentID="1182" level="3" creatorID="0" sortOrder="1" createDate="2018-02-22T18:27:31" updateDate="2018-03-06T02:05:47" nodeName="Onderdeel2" urlName="onderdeel2" path="-1,1196,1182,1305" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/103b4470dd6a4ee1b75abdbd717e8ff2]]></partPicture>
        <partDescription><![CDATA[uitleg 
uitleg]]></partDescription>
        <partName><![CDATA[onderdeel2]]></partName>
        <morePartPictures><![CDATA[umb://media/643a8351e93741fdad9535e5d4775c59]]></morePartPictures>
      </part>
      <part id="1361" key="5402a95c-885d-4f9c-ab5b-d11818f48bb0" parentID="1182" level="3" creatorID="0" sortOrder="2" createDate="2018-03-08T00:44:45" updateDate="2018-03-08T00:45:07" nodeName="part3" urlName="part3" path="-1,1196,1182,1361" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/bee168c5435c4c1d8f76c11085f471a6]]></partPicture>
        <partPrice><![CDATA[20]]></partPrice>
        <partDescription><![CDATA[part 3 description]]></partDescription>
        <partName><![CDATA[part 3]]></partName>
      </part>
      <part id="1362" key="3442764f-f7e9-493a-a592-d3f096fa623e" parentID="1182" level="3" creatorID="0" sortOrder="3" createDate="2018-03-08T00:45:55" updateDate="2018-03-08T00:45:55" nodeName="part4" urlName="part4" path="-1,1196,1182,1362" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/2c1549d40fe841199d5fe10d3906b317]]></partPicture>
        <partPrice><![CDATA[50]]></partPrice>
        <partDescription><![CDATA[part4 description]]></partDescription>
        <partName><![CDATA[part4]]></partName>
      </part>
    </parts>
    <store id="1341" key="2b4d110c-6faa-47e6-913b-2226b5e53a7a" parentID="1196" level="2" creatorID="0" sortOrder="6" createDate="2018-02-28T00:39:19" updateDate="2018-02-28T11:14:46" nodeName="Mopeds" urlName="mopeds" path="-1,1196,1341" isDoc="" nodeType="1323" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1318" nodeTypeAlias="store" isPublished="true">
      <storeName><![CDATA[Moped Store]]></storeName>
      <storeForSale id="1344" key="d35e9300-0955-4674-81f1-e2885c225e79" parentID="1341" level="3" creatorID="0" sortOrder="2" createDate="2018-02-28T00:47:18" updateDate="2018-02-28T00:50:24" nodeName="MopedsForSale" urlName="mopedsforsale" path="-1,1196,1341,1344" isDoc="" nodeType="1336" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1320" nodeTypeAlias="storeForSale" isPublished="true">
        <paginaWelkom><![CDATA[Pastina al dente sorprese cheesy cavatelli ziti basil tomatoes. Lasagna anelli basil tortellini sorprese delicious carbonara. Fettuccine anelli macaroni spaghettini, sorprese anelli cheesy fettuccine rotelle cheesy cavatelli.]]></paginaWelkom>
        <paginaTitel><![CDATA[MopedsForSale]]></paginaTitel>
      </storeForSale>
      <storeSold id="1351" key="126b1e1c-46f7-42a5-8765-6b907a3cd55d" parentID="1341" level="3" creatorID="0" sortOrder="3" createDate="2018-03-05T02:16:51" updateDate="2018-03-05T02:23:14" nodeName="MopedsSold" urlName="mopedssold" path="-1,1196,1341,1351" isDoc="" nodeType="1339" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1321" nodeTypeAlias="storeSold" isPublished="true">
        <paginaTitel><![CDATA[Mopeds sold]]></paginaTitel>
        <paginaWelkom><![CDATA[sfqmsjdfsqdfsdm sjdfqslmdfj sqmdfjqslcxjjngqs sqmljdsgflj]]></paginaWelkom>
        <paginaEmpty><![CDATA[jhgjhgj ljljkmh gdrjhnglkkjmj]]></paginaEmpty>
      </storeSold>
      <storeItem id="1358" key="38f8dfb2-bc26-4519-9894-bded6e8d2f43" parentID="1341" level="3" creatorID="0" sortOrder="4" createDate="2018-03-06T02:57:09" updateDate="2018-03-06T02:57:09" nodeName="merkmodel" urlName="merkmodel" path="-1,1196,1341,1358" isDoc="" nodeType="1332" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1319" nodeTypeAlias="storeItem" isPublished="true">
        <bouwjaar><![CDATA[bouwjaar]]></bouwjaar>
        <model><![CDATA[model]]></model>
        <extraTekst><![CDATA[fqsdmlkfjqsmdkfjsmdjf dsmfjqsnfjnqsd sdgmqjdsqld qsq er]]></extraTekst>
        <merk><![CDATA[merk]]></merk>
        <isVerkocht>0</isVerkocht>
        <prijs><![CDATA[2000]]></prijs>
        <video><![CDATA[https://www.youtube.com/watch?v=epW21qzCcCM]]></video>
        <andereFotos><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a,umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></andereFotos>
        <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
      </storeItem>
    </store>
  </basepage>
  <basepage id="1275" key="85a36c6c-d67b-48e4-9eeb-fbe993519228" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-21T20:35:48" updateDate="2018-02-26T01:16:14" nodeName="Fr" urlName="fr" path="-1,1275" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINAL]]></homeBannerText>
    <home id="1276" key="e320b58a-0f61-4cb9-86c4-6e31838ac787" parentID="1275" level="2" creatorID="0" sortOrder="0" createDate="2018-02-21T20:35:48" updateDate="2018-03-08T00:18:29" nodeName="Home" urlName="home" path="-1,1275,1276" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <vintageAdres><![CDATA[Veerle-Laakdal]]></vintageAdres>
      <vintageEmail><![CDATA[info@vintage-wheels.be]]></vintageEmail>
      <vintageGSM><![CDATA[gsm frans]]></vintageGSM>
      <info id="1279" key="5bd89330-e565-4e37-a063-9fb1c707a7eb" parentID="1276" level="3" creatorID="0" sortOrder="2" createDate="2018-02-21T20:35:49" updateDate="2018-03-08T00:30:25" nodeName="Info" urlName="info" path="-1,1275,1276,1279" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true">
        <infoPart1Text><![CDATA[info1 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart1Text>
        <infoPart1Title><![CDATA[info1]]></infoPart1Title>
        <infoPart2Text><![CDATA[info2 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart2Text>
        <infoPart2Title><![CDATA[info2]]></infoPart2Title>
        <infoPart3Title><![CDATA[info3]]></infoPart3Title>
        <infoPart3Text><![CDATA[info3 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart3Text>
      </info>
      <slider id="1280" key="152938dc-452d-435f-b18e-bb50cac1b0c1" parentID="1276" level="3" creatorID="0" sortOrder="3" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:46:50" nodeName="Slider" urlName="slider" path="-1,1275,1276,1280" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <parts id="1284" key="df906eb9-6516-4729-850a-94f4c58cb4e6" parentID="1275" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T20:35:49" updateDate="2018-02-21T20:44:47" nodeName="Parts" urlName="parts" path="-1,1275,1284" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true" />
  </basepage>
  <basepage id="1289" key="e715469e-2980-4a6a-9f69-31dd5c52e9df" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:07" updateDate="2018-02-26T01:20:23" nodeName="Nl" urlName="nl" path="-1,1289" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <homeBannerImage><![CDATA[umb://media/decf0ae1563b47e0a0155b403faec966]]></homeBannerImage>
    <homeBannerText><![CDATA[KEEP IT ORIGINEEL]]></homeBannerText>
    <home id="1290" key="bfd62fde-a481-4323-8f85-a0ff6c137a36" parentID="1289" level="2" creatorID="0" sortOrder="0" createDate="2018-02-21T21:25:08" updateDate="2018-03-08T00:18:47" nodeName="Home" urlName="home" path="-1,1289,1290" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <vintageAdres><![CDATA[Veerle-Laakdal]]></vintageAdres>
      <vintageEmail><![CDATA[info@vintage-wheels.be]]></vintageEmail>
      <vintageGSM><![CDATA[gsm nederlands]]></vintageGSM>
      <info id="1293" key="ae660801-473d-4904-923b-0256ed8bcc6b" parentID="1290" level="3" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:08" updateDate="2018-03-08T00:31:23" nodeName="Info" urlName="info" path="-1,1289,1290,1293" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true">
        <infoPart1Text><![CDATA[info1 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart1Text>
        <infoPart1Title><![CDATA[info1]]></infoPart1Title>
        <infoPart2Text><![CDATA[info2 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart2Text>
        <infoPart2Title><![CDATA[info2]]></infoPart2Title>
        <infoPart3Title><![CDATA[info3]]></infoPart3Title>
        <infoPart3Text><![CDATA[info3 tekst en uitleg en nog meer uitleg. en nog een zin]]></infoPart3Text>
      </info>
      <slider id="1294" key="1a6c75d4-62a5-4467-972a-c4e3585c19a0" parentID="1290" level="3" creatorID="0" sortOrder="3" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Slider" urlName="slider" path="-1,1289,1290,1294" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
    </home>
    <parts id="1298" key="adddc98f-2d0d-4362-8bdc-16c2195e7e31" parentID="1289" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Parts" urlName="parts" path="-1,1289,1298" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1261" nodeTypeAlias="parts" isPublished="true">
      <part id="1299" key="61519847-b709-4927-bdb6-037e9a4ca652" parentID="1298" level="3" creatorID="0" sortOrder="0" createDate="2018-02-21T21:25:08" updateDate="2018-02-21T21:36:29" nodeName="Onderdeel1" urlName="onderdeel1" path="-1,1289,1298,1299" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
        <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
        <partDescription><![CDATA[Carbonara angel hair fettuccine linguini, penne vermicelli lasagna ravioli capellini ziti. Rotelle tripoline tripoline spaghetti spaghetti, pasta pasta macaroni lasagna cheesy basil penne fettuccine penne. Rotelle tomatoes fiorentine spaghettini, sauce basil capellini cavatelli rotelle vermicelli spaghettini anelli. Al dente lasagna fiorentine, fettuccine cheesy anelli macaroni carbonara spaghetti ziti basil. Ziti cavatelli fiorentine sorprese ravioli tortellini linguini. Spaghetti macaroni ziti ziti ravioli sorprese basil. Basil linguini ziti ziti spaghetti basil angel hair pasta carbonara. Spaghetti al dente tripoline sorprese fiorentine al dente fettuccine fettuccine. Linguini rotelle lasagna penne cavatelli fiorentine spaghetti penne.]]></partDescription>
        <partName><![CDATA[Onderdeel1]]></partName>
      </part>
    </parts>
  </basepage>
  <notfound id="1270" key="f89ff4e6-12d6-4f1b-b256-edb7ed7fb974" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-02-16T00:11:17" updateDate="2018-02-21T21:36:17" nodeName="notfound" urlName="notfound" path="-1,1270" isDoc="" nodeType="1269" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1267" nodeTypeAlias="notfound" isPublished="true" />
</root>