<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT part ANY>
<!ATTLIST part id ID #REQUIRED>
<!ELEMENT partsSub ANY>
<!ATTLIST partsSub id ID #REQUIRED>
<!ELEMENT brommersSold ANY>
<!ATTLIST brommersSold id ID #REQUIRED>
<!ELEMENT brommer ANY>
<!ATTLIST brommer id ID #REQUIRED>
<!ELEMENT brommers ANY>
<!ATTLIST brommers id ID #REQUIRED>
<!ELEMENT map ANY>
<!ATTLIST map id ID #REQUIRED>
<!ELEMENT basepage ANY>
<!ATTLIST basepage id ID #REQUIRED>
<!ELEMENT navBarSecond ANY>
<!ATTLIST navBarSecond id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT info ANY>
<!ATTLIST info id ID #REQUIRED>
<!ELEMENT navBarMain ANY>
<!ATTLIST navBarMain id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT parts ANY>
<!ATTLIST parts id ID #REQUIRED>
<!ELEMENT brommersVerkocht ANY>
<!ATTLIST brommersVerkocht id ID #REQUIRED>
<!ELEMENT brommersTeKoop ANY>
<!ATTLIST brommersTeKoop id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <basepage id="1196" key="ed08ec9d-3554-49ba-9424-572fab4517e8" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-01-08T22:53:26" updateDate="2018-01-14T23:48:19" nodeName="En" urlName="en" path="-1,1196" isDoc="" nodeType="1195" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1197" nodeTypeAlias="basepage" isPublished="true">
    <title><![CDATA[Vintage Wheels]]></title>
    <home id="1179" key="d69838e3-e712-4b2a-b70c-7a803cad10fc" parentID="1196" level="2" creatorID="0" sortOrder="1" createDate="2018-01-03T22:03:24" updateDate="2018-01-08T22:56:31" nodeName="Home" urlName="home" path="-1,1196,1179" isDoc="" nodeType="1174" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1159" nodeTypeAlias="home" isPublished="true">
      <navBarMain id="1185" key="6cfe9cb5-23f4-48c4-b0e9-29f2888bc6f6" parentID="1179" level="3" creatorID="0" sortOrder="0" createDate="2018-01-03T22:40:11" updateDate="2018-01-09T00:33:29" nodeName="NavBarMain" urlName="navbarmain" path="-1,1196,1179,1185" isDoc="" nodeType="1176" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1167" nodeTypeAlias="navBarMain" isPublished="true" />
      <banner id="1184" key="cb2f03f0-a6b6-4c2f-b16e-41312a854f2f" parentID="1179" level="3" creatorID="0" sortOrder="1" createDate="2018-01-03T22:39:52" updateDate="2018-01-09T00:33:30" nodeName="Banner" urlName="banner" path="-1,1196,1179,1184" isDoc="" nodeType="1170" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1163" nodeTypeAlias="banner" isPublished="true">
        <bannerText><![CDATA[Keep it original]]></bannerText>
        <backgroundImage>1183</backgroundImage>
      </banner>
      <info id="1188" key="883be47a-4582-4d4e-9e75-2108483a5582" parentID="1179" level="3" creatorID="0" sortOrder="2" createDate="2018-01-03T22:43:33" updateDate="2018-01-09T00:33:30" nodeName="Info" urlName="info" path="-1,1196,1179,1188" isDoc="" nodeType="1175" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1166" nodeTypeAlias="info" isPublished="true" />
      <slider id="1240" key="8e8058f2-32b5-4e69-880a-9798ac1a929e" parentID="1179" level="3" creatorID="0" sortOrder="3" createDate="2018-01-30T22:23:03" updateDate="2018-01-30T23:45:25" nodeName="Slider" urlName="slider" path="-1,1196,1179,1240" isDoc="" nodeType="1239" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1236" nodeTypeAlias="slider" isPublished="true">
        <meetingMedia><![CDATA[umb://media/ec763b1e45c1493da2126cd6ca22f990,umb://media/2f18031124304ec78a91790144e73383]]></meetingMedia>
      </slider>
      <map id="1200" key="fa122e1d-66ba-4588-8886-3a157ac18c87" parentID="1179" level="3" creatorID="0" sortOrder="4" createDate="2018-01-09T00:32:56" updateDate="2018-01-30T22:23:35" nodeName="Map" urlName="map" path="-1,1196,1179,1200" isDoc="" nodeType="1199" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1198" nodeTypeAlias="map" isPublished="true" />
      <contact id="1187" key="928e9f76-94b2-4b5c-ae26-92d622742b45" parentID="1179" level="3" creatorID="0" sortOrder="5" createDate="2018-01-03T22:41:48" updateDate="2018-01-30T22:23:35" nodeName="Contact" urlName="contact" path="-1,1196,1179,1187" isDoc="" nodeType="1173" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1165" nodeTypeAlias="contact" isPublished="true" />
    </home>
    <brommersTeKoop id="1180" key="eb304f2e-cfd7-43ba-9523-72e0cd9c0c9a" parentID="1196" level="2" creatorID="0" sortOrder="2" createDate="2018-01-03T22:05:08" updateDate="2018-01-08T23:19:13" nodeName="BrommersTeKoop" urlName="brommerstekoop" path="-1,1196,1180" isDoc="" nodeType="1171" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1162" nodeTypeAlias="brommersTeKoop" isPublished="true">
      <navBarSecond id="1190" key="ad74360a-90ae-4f11-8e35-bac2f22d7148" parentID="1180" level="3" creatorID="0" sortOrder="0" createDate="2018-01-03T22:45:24" updateDate="2018-01-08T23:19:10" nodeName="NavBarSecond" urlName="navbarsecond" path="-1,1196,1180,1190" isDoc="" nodeType="1177" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1168" nodeTypeAlias="navBarSecond" isPublished="true" />
      <banner id="1189" key="c9c83d86-3c2a-4e8e-a7b3-803161cf2011" parentID="1180" level="3" creatorID="0" sortOrder="1" createDate="2018-01-03T22:44:55" updateDate="2018-01-23T23:24:06" nodeName="Banner" urlName="banner" path="-1,1196,1180,1189" isDoc="" nodeType="1170" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1164" nodeTypeAlias="banner" isPublished="true">
        <bannerText><![CDATA[For sale]]></bannerText>
      </banner>
      <brommers id="1204" key="cd09993b-3eac-4649-8c11-74fef516735b" parentID="1180" level="3" creatorID="0" sortOrder="2" createDate="2018-01-13T16:44:48" updateDate="2018-01-15T00:43:26" nodeName="Brommers" urlName="brommers" path="-1,1196,1180,1204" isDoc="" nodeType="1203" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1201" nodeTypeAlias="brommers" isPublished="true">
        <brommer id="1208" key="498abcfd-2dd2-4d0f-9ac1-56b233e5a9e4" parentID="1204" level="4" creatorID="0" sortOrder="0" createDate="2018-01-13T19:38:07" updateDate="2018-01-15T00:17:42" nodeName="Daytona_Flandria_1960" urlName="daytona_flandria_1960" path="-1,1196,1180,1204,1208" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="0" nodeTypeAlias="brommer" isPublished="true">
          <bouwjaar><![CDATA[1960]]></bouwjaar>
          <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
          <fabrikant><![CDATA[Flandria]]></fabrikant>
          <verkocht>0</verkocht>
          <model><![CDATA[Daytona]]></model>
          <meerTekstEn><![CDATA[english text]]></meerTekstEn>
          <meerTekstNl><![CDATA[nederlandse tekst]]></meerTekstNl>
          <meerTekstFr><![CDATA[texte francaise]]></meerTekstFr>
        </brommer>
        <brommer id="1218" key="1caac772-acfa-4d4b-94a0-a67b23134184" parentID="1204" level="4" creatorID="0" sortOrder="1" createDate="2018-01-15T01:14:31" updateDate="2018-01-15T01:14:31" nodeName="Daytona_Flandria_1961" urlName="daytona_flandria_1961" path="-1,1196,1180,1204,1218" isDoc="" nodeType="1207" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="0" nodeTypeAlias="brommer" isPublished="true">
          <bouwjaar><![CDATA[1961]]></bouwjaar>
          <primaireFoto><![CDATA[umb://media/fd2e9e2d592a48f7a74e787980cfaf3a]]></primaireFoto>
          <fabrikant><![CDATA[Daytona]]></fabrikant>
          <verkocht>1</verkocht>
          <model><![CDATA[Flandria]]></model>
          <meerTekstEn><![CDATA[english]]></meerTekstEn>
          <meerTekstNl><![CDATA[Dutch]]></meerTekstNl>
          <meerTekstFr><![CDATA[French]]></meerTekstFr>
        </brommer>
      </brommers>
    </brommersTeKoop>
    <brommersVerkocht id="1181" key="f58d6709-3cd9-4de2-9311-42810d0a70db" parentID="1196" level="2" creatorID="0" sortOrder="3" createDate="2018-01-03T22:05:54" updateDate="2018-01-08T22:57:56" nodeName="BrommersVerkocht" urlName="brommersverkocht" path="-1,1196,1181" isDoc="" nodeType="1172" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1161" nodeTypeAlias="brommersVerkocht" isPublished="true">
      <navBarSecond id="1192" key="e8003d44-6dea-41e6-acfc-0546a80805bb" parentID="1181" level="3" creatorID="0" sortOrder="0" createDate="2018-01-03T22:46:43" updateDate="2018-01-08T23:18:44" nodeName="NavBarSecond" urlName="navbarsecond" path="-1,1196,1181,1192" isDoc="" nodeType="1177" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1168" nodeTypeAlias="navBarSecond" isPublished="true" />
      <banner id="1191" key="398d12b5-496d-4aab-8fc2-9bba22cd3fc3" parentID="1181" level="3" creatorID="0" sortOrder="1" createDate="2018-01-03T22:46:08" updateDate="2018-01-23T23:23:27" nodeName="Banner" urlName="banner" path="-1,1196,1181,1191" isDoc="" nodeType="1170" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1164" nodeTypeAlias="banner" isPublished="true">
        <bannerText><![CDATA[Sold]]></bannerText>
      </banner>
      <brommersSold id="1217" key="8f9549aa-3cb7-404b-be82-d605d02e087d" parentID="1181" level="3" creatorID="0" sortOrder="2" createDate="2018-01-15T01:07:02" updateDate="2018-01-15T01:08:05" nodeName="Brommers" urlName="brommers" path="-1,1196,1181,1217" isDoc="" nodeType="1216" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1215" nodeTypeAlias="brommersSold" isPublished="true" />
    </brommersVerkocht>
    <parts id="1182" key="78379e01-b8a6-4548-a2c2-fa37d21168fe" parentID="1196" level="2" creatorID="0" sortOrder="4" createDate="2018-01-03T22:08:26" updateDate="2018-01-08T22:58:06" nodeName="Parts" urlName="parts" path="-1,1196,1182" isDoc="" nodeType="1178" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1160" nodeTypeAlias="parts" isPublished="true">
      <navBarSecond id="1194" key="ab0a8e25-5546-4ce1-80f2-449545fccc16" parentID="1182" level="3" creatorID="0" sortOrder="0" createDate="2018-01-03T22:48:47" updateDate="2018-01-08T23:18:25" nodeName="NavBarSecond" urlName="navbarsecond" path="-1,1196,1182,1194" isDoc="" nodeType="1177" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1168" nodeTypeAlias="navBarSecond" isPublished="true" />
      <banner id="1193" key="4514fb89-4bac-4be8-b93f-c876e28e2f23" parentID="1182" level="3" creatorID="0" sortOrder="1" createDate="2018-01-03T22:47:51" updateDate="2018-01-23T23:33:34" nodeName="Banner" urlName="banner" path="-1,1196,1182,1193" isDoc="" nodeType="1170" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1164" nodeTypeAlias="banner" isPublished="true">
        <bannerText><![CDATA[Parts]]></bannerText>
      </banner>
      <partsSub id="1229" key="1d02e046-e214-4a3f-b02e-0a7dfdb4f9cf" parentID="1182" level="3" creatorID="0" sortOrder="2" createDate="2018-01-17T23:54:52" updateDate="2018-01-17T23:54:52" nodeName="PartsSub" urlName="partssub" path="-1,1196,1182,1229" isDoc="" nodeType="1221" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1220" nodeTypeAlias="partsSub" isPublished="true">
        <part id="1230" key="4c78d8e8-5ee0-4c60-ab63-ccdd4fdea90c" parentID="1229" level="4" creatorID="0" sortOrder="0" createDate="2018-01-17T23:57:12" updateDate="2018-01-17T23:57:12" nodeName="Part1" urlName="part1" path="-1,1196,1182,1229,1230" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/54a54e7351874953a35dc6da4234fdf0]]></partPicture>
          <partDescriptionEn><![CDATA[Part1English  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini.]]></partDescriptionEn>
          <partNameEn><![CDATA[Part1English]]></partNameEn>
          <partNameFr><![CDATA[part1francais]]></partNameFr>
          <partDescriptionFr><![CDATA[part1francais  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionFr>
          <partNameNl><![CDATA[part1nederlands]]></partNameNl>
          <partDescriptionNl><![CDATA[part1nederlands  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionNl>
        </part>
        <part id="1231" key="98e3a2ac-1ccf-4974-bc50-63c7553f6f5d" parentID="1229" level="4" creatorID="0" sortOrder="1" createDate="2018-01-17T23:58:36" updateDate="2018-01-17T23:58:36" nodeName="Part2" urlName="part2" path="-1,1196,1182,1229,1231" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/643a8351e93741fdad9535e5d4775c59]]></partPicture>
          <partDescriptionEn><![CDATA[part2english  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionEn>
          <partNameEn><![CDATA[part2english]]></partNameEn>
          <partNameFr><![CDATA[part2francais]]></partNameFr>
          <partDescriptionFr><![CDATA[part2francais  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionFr>
          <partNameNl><![CDATA[part2nederlands]]></partNameNl>
          <partDescriptionNl><![CDATA[part2nederlands  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionNl>
        </part>
        <part id="1232" key="215fc16a-184c-47bb-b860-514964a72f19" parentID="1229" level="4" creatorID="0" sortOrder="2" createDate="2018-01-17T23:59:34" updateDate="2018-01-17T23:59:34" nodeName="Part3" urlName="part3" path="-1,1196,1182,1229,1232" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/bee168c5435c4c1d8f76c11085f471a6]]></partPicture>
          <partDescriptionEn><![CDATA[Part3English  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionEn>
          <partNameEn><![CDATA[Part3English]]></partNameEn>
          <partNameFr><![CDATA[Part3francais]]></partNameFr>
          <partDescriptionFr><![CDATA[part3francais  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionFr>
          <partNameNl><![CDATA[Part3nederlands]]></partNameNl>
          <partDescriptionNl><![CDATA[part3nederlands  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionNl>
        </part>
        <part id="1233" key="3e126873-def1-48b8-ace6-0735cf9cdf20" parentID="1229" level="4" creatorID="0" sortOrder="3" createDate="2018-01-18T00:00:57" updateDate="2018-01-18T00:00:57" nodeName="Part4" urlName="part4" path="-1,1196,1182,1229,1233" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/2c1549d40fe841199d5fe10d3906b317]]></partPicture>
          <partDescriptionEn><![CDATA[part4english]]></partDescriptionEn>
          <partNameEn><![CDATA[part4english]]></partNameEn>
          <partNameFr><![CDATA[part4francais]]></partNameFr>
          <partDescriptionFr><![CDATA[part4francais]]></partDescriptionFr>
          <partNameNl><![CDATA[part4nederlands]]></partNameNl>
          <partDescriptionNl><![CDATA[part4nederlands]]></partDescriptionNl>
        </part>
        <part id="1234" key="c767363d-be93-439c-8f09-3a410c729456" parentID="1229" level="4" creatorID="0" sortOrder="4" createDate="2018-01-18T00:03:25" updateDate="2018-01-18T00:03:25" nodeName="Part5" urlName="part5" path="-1,1196,1182,1229,1234" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/aa14c19363c2435ba16e25eea812d991]]></partPicture>
          <partDescriptionEn><![CDATA[part5english  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionEn>
          <partNameEn><![CDATA[part5english]]></partNameEn>
          <partNameFr><![CDATA[part5francais]]></partNameFr>
          <partDescriptionFr><![CDATA[part5francais  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionFr>
          <partNameNl><![CDATA[part5nederlands]]></partNameNl>
          <partDescriptionNl><![CDATA[part5nederlands  Tripoline sorprese basil sorprese tortellini pastina sorprese linguini al dente. Tomatoes ditalini tripoline spaghetti sauce macaroni ravioli delicious, pastina lasagna ziti penne. Tortellini al dente angel hair spaghettini, fettuccine spaghettini anelli basil tomatoes spaghettini]]></partDescriptionNl>
        </part>
        <part id="1235" key="60095c97-9a3f-4737-ba42-02a7090efe03" parentID="1229" level="4" creatorID="0" sortOrder="5" createDate="2018-01-23T23:01:35" updateDate="2018-01-23T23:01:35" nodeName="part test" urlName="part-test" path="-1,1196,1182,1229,1235" isDoc="" nodeType="1223" creatorName="jelleraus" writerName="jelleraus" writerID="0" template="1222" nodeTypeAlias="part" isPublished="true">
          <partPicture><![CDATA[umb://media/aa14c19363c2435ba16e25eea812d991]]></partPicture>
          <partDescriptionEn><![CDATA[engelse tekst]]></partDescriptionEn>
          <partNameEn><![CDATA[part test]]></partNameEn>
        </part>
      </partsSub>
    </parts>
  </basepage>
</root>